$color-primary: #2CA01C;
$color-primary-hover: #35BF22;

$color-secondary: #0075C0;

$color-tertiary: #393A3D;
$color-tertiary-hover: rgba(235, 237, 240, 0.2);

$color-hightlight: #BABEC5;

$color-table: #ECEEF1;
$color-table-border: #C7C7C7;

$color-background: #F4F5F8;

$color-white: #FFFFFF;
$color-black: #000000;

$color-content-text: #111111;