:root {
    --color-primary: #2CA01C;
    --color-primary-hover: #35BF22;

    --color-secondary: #0075C0;

    --color-tertiary: #393A3D;
    --color-tertiary-hover: rgba(235, 237, 240, 0.2);

    --color-hightlight: #BABEC5;
    --color-hightlight-hover: #E2E2E2;

    --color-button-hover: #D2D3D6;

    --color-table: #ECEEF1;
    --color-table-border: #C7C7C7;

    --color-border: #EBEDF0;

    --color-background: #F4F5F8;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-content-text: #111111;

    --color-scroll: #F1F1F1;
    --color-scroll-thumb: #B8BCC3;

    --transition-value: 0.2s ease-in-out;
    --box-shadow-default: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}